filetype==1.2.0
paho_mqtt==1.6.1
pandas==2.1.4
Pillow==10.1.0
streamlit==1.29.0
streamlit_drawable_canvas==0.9.3
mysql-connector-python==8.2.0
streamlit-authenticator==0.2.3
streamlit-server-state==0.17.1
